.Frame{
    width: 6rem;
}


.links{
    color: red;
}
#brandText{   
    font-family: monospace;
    font-weight: bold;
    font-size: 1.4rem;
}

.nav_item{
    color:rgb(149, 4, 4);
    font-weight: bold;
    margin-left: 2rem;
    padding: 0.4rem;
    text-decoration: none;
    text-transform: capitalize;
}

.log_nav{
    color: whitesmoke;
    background-color: rgb(149, 4, 4);
 
    border-radius: .4rem;
}
.nav_item span{
    text-transform: lowercase;
}
@media all and (max-width: 900px) {
    .nav_item{
       
        text-decoration: none;
    }
    
}
@media all and (max-width: 340px) {
    #brandText{
       
        
        font-size: .5rem;
    }
    
}