.searching{
    width: 70rem;
    margin: 0 auto;
    
}

.ant-input {
    /* height: 20px !important;  */
    /* padding: 5rem; */
  }

  .ant-btn-primary {
    /* height: 140px !important;  */
  }
  .shopNav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
   
  }
  .shopNav div{
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
  .shopNav div a{
    text-decoration: none;
    color: rgb(18, 15, 15);
  }
  @media all and (max-width: 900px) {
    .searching{
        width: 20rem;        
        
    }
  }