.shopWrapperMother{
  width: 100%;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  /* margin-bottom: 4rem; */
  
}
.shopCon{
  width: 50%;
  margin: 4rem auto;
  position: relative;  
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}

#navs{
  width: 90%;
  background-color: #7B0924;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  gap: 13rem;

}

#navs a{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 0.8rem;
}
.cart{
  position: absolute;
  background-color: #7B0924;
  color: #FFFFFF;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  width: 5rem;
  text-align: center;
  border-radius: 20%;
}
  .shoping-card-container {
    /* background-color: red; */
     display: flex;     
     justify-content: center;
     gap: 2rem;
     width: 100rem;
     flex-wrap: wrap;
  }
.custom-card {
  width: 25%;
  /* margin-bottom: 16px; */
}
.pagination_two{
  width: 14rem;
}
  @media  all and (max-width: 900px) {
  .custom-card {
    width: 20%;
    position: relative;
    left: 40rem;
    /* width: 15rem; */
    /* width: 100%;  */
  }
  .shopCon{
    margin-top: 0.4rem;
    margin-bottom: 2rem;
  }
/* .  .shoping-card-container */
  .shoping-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  .cart{
    right: -3rem;
  }

  #navs{
    width: 100%;
    gap: 1rem;
    background-color: #7B0924;
    padding: 3rem;
    
  }
  #navs a{
    font-size: .8rem;
  }
}
