.shopWrapperMother{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conShop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#navs{
  max-width: 65%;
  padding: 1.1rem;
  min-height: 1.2rem;
  background-color: #7B0924;
  min-width: 90%;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  
}

#navs :where(a){
  color: #FFFFFF;
  font-weight: bold;
}
 #navHeader{
  width: 100%;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  margin: .6rem;
 }
 .left_navHeader{
  width: 25%;
  padding-left: 3rem;
}

 .sided{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: .2rem 0;
  gap: 5rem;
 }

 .drops{
  width: 10rem;  
  display: flex;
  justify-content: flex-end;  
  position: relative;
  z-index: 99;  
  border-radius: .5rem;
  transition: all 15s;
 }
 .hide{
  display: none;
 }
 ul{  
  height: 10rem;
  list-style: circle;  
 }
 ul li{
  font-size: 1.2rem;
  font-weight: 500;
 }
.hideBtn{
  position: relative;  
}
 .controls{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0;
  
 }

 .navs_2{
  width: 50%;
  height: 4rem;
 }
 .hideBtn,.normsBtn{
  font: 1rem;
  width: 17rem;
  border: none;
  background: transparent;
 }

 .dropDown{
  width: 40rem;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 24.9rem;
  left: 15rem;
  transition: all 3s;
  z-index: 99;
 }
 #trade{
  width: 100%;
  display: flex;
  padding: 0.7rem;
  justify-content: space-between;
 }
.save_more{
  width: 17rem;
  height: 2.4rem;
  background-color: #7B0924;
  color: #FFFFFF;
  border: none;
  border-radius: .4rem;

}
.cart{
  background-color: #7B0924;
  padding: .7rem;
  border: none;
  border-radius: .2rem;
  color: #FFFFFF;
 
 
}
.cartItem{
  font-size: 1.2rem;
}

/* CARDSSS */
.shoping-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#shoping-card-container {
  margin: 1px;
}

.custom-card {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e8e8e8;
}

.img_card {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#shop_icon{
  width: 1rem;
}
.kitCon{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* height: 30rem; */
  gap: 1rem;
  background: #D5D5D54D;
}
#kitImg{
width: 20rem;
height: 12rem;
}
.kitCon :where(.kitLeft,.kitRight){
  width: 28%;  
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;  
  /* background-color: red; */
}

.kitCon :where(.kitRight){
  width: 38%;  
  padding-left: 3rem;
  /* background-color: #7B0924; */
}
.kitRight :where(.kitBox){
  width: 95%;
  height: 65%;
  background-color: #FFFFFF; 
  border-radius: .6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
}
.downNav{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}
.downNav :where(h1) ,.kitRight :where(h1) {
  font-size: 1rem;
  text-align: left;
}

.kitBox :where(.kitBoxLeft){
width: 17%;
height: 100%;

display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
gap: 2.3rem;
}
.kitBox :where(.kitBoxRight){
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: aqua; */
  gap: 2.1rem;
}
.kitBoxRight :where(.kitBoxRightTop,.kitBoxRightBottom){
  width: 100%;
  height: 34%;
  /* background-color: green; */
}
.kitBoxRight :where(.kitBoxRightBottom){

display: flex;
justify-content: flex-end;
align-items: center;
flex-direction: column;
gap: 0.4rem;
/* height: 50%; */
}
.kitBoxRightTop{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
}
.kitBoxLeftBtn,.kitBoxBtnRightTop{
padding: .7rem 1rem;
border: .1rem solid silver;
border-radius: .2rem;
}

.kitBoxBtnRightTop{
  padding: 0.5rem 1rem;
}
.kitBoxBtnRightBottom,.kitBoxBtnRightBottom{
  width: 70%;
  padding: .5rem;
  border: none;
  border-radius: .2rem;
  font-size: 1.2rem;
  color: #FFFFFF;
  background: #7B092480;
}
.ac{
  background-color: #7B0924;
}
.kitBoxBtnRightBottom a{
  color: #FFFFFF;
}
.kitBoxLeftBtnDrop{
  padding: 0.3rem;
}
.s{
  padding: .5rem 1.6rem;

}
.addsOn{
  width: 93%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 2rem;
  gap: .3rem;

  /* position: relative; */
  /* top: 3rem; */
}
.Shipping{
  width: 20%;
  display: flex;
    justify-content: space-between;
    border-bottom: .1rem solid silver;
}
.lastView{  
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

/* CHECKOUT */

#checkOutCon{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  position: relative;
}
#checkOutCon :where(.checkOutTop){
  width: 90%;
  height: 20rem;  
  background-color: #D5D5D54D;
  border: .1rem solid silver;
  margin-top: 1.3rem;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.checkOutTop :where(.checkOutTopLeft){
  width: 20%;
  height: 100%;  
  /* background-color: #8820204d;  */
  display: flex;  
  justify-content: center;
  align-items: center; 
}
.checkOutTopLeft :where(img){
  width: 19rem;
  background-color: #8820204d;  
}

.checkOutTopLeft :where(.checkOutTopLeft){
  width: 30%;
  height: 100%;  
  background-color: #8820204d; 
  display: flex;  
  justify-content: center;
  align-items: center; 
}
.checkOutTop :where(.checkOutTopRight){
  width: 60%;
  height: 96%;  
  /* background-color: #ad0c0c4d;   */
  display: flex;  
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}
.checkOutTop :where(h1){
 text-align: center;
 font-size: 1.6rem;
}
.checkOutTopRight :where(.checkOutTopRightInfo){
  width: 100%;
  height: 100%;
  display: flex;  
  justify-content: center;
  align-items: center; 
  
}
.checkOutTopRightInfo :where(.checkOutTopRightLeftInfo){
  width: 65%;
  display: flex;  
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  gap: 2rem;

}
.checkOutTopRightInfo :where(.checkOutTopRightRightInfo){
  width: 30%;
  display: flex;  
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  
  
}
.checkOutTopRightLeftInfo :where(.checkOutTopRightLeftInfoInputs){
  width: 90%;
  display: flex;  
  justify-content: center;
  align-items: center;   
gap: 10rem;
}
.checkOutTopRightLeftInfoInputs :where(.checkInputLeft, .checkInputRight){
  
  display: flex;  
  justify-content: center;
  align-items: center;   
flex-direction: column;
font-weight: bold;
}
.checkOutTopRightLeftInfoInputs :where(input){
 padding: .7rem;
 width: 30%;
}
.checkOutTopRightLeftInfo :where(.checkOutTopRightLeftInfoSelect){
  width: 90%;
  display: flex;  
  justify-content: center;
  align-items: center;
  gap: 2rem;   

}.checkOutTopRightLeftInfoSelect :where(.checkOutTopRightLeftInfoSelectOne){
  width: 30%;
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.quality{
  margin: 0 auto;  
  text-align: center;  
}
#checkOutCon :where(.checkOutBottom){
  width: 30%;
  height: 20rem;    
  border: .1rem solid silver;
  margin-top: -4rem;
  display: flex;  
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.checkOutBottom :where(.checkOutBottomBtn){
  width: 40%;
 background-color: black;
 color: #FFFFFF;
 padding: 1rem;
 display: flex;  
 justify-content: center;
 align-items: center;
 gap: .5rem;
 border: none;
 border-radius: .2rem;
}

.checkOutBottom :where(.checkOutBottomHeader){
  width: 100%;
  height: 30%;
  background-color: #D5D5D54D;
  margin-top: 2rem;
  display: flex;  
  justify-content: center;
  align-items: center;
  gap: 6rem;
  font-weight: bold;
}
#checkOutCon :where(a){
  color: #7B0924;
  font-weight: bold;
}

.x{
  position: absolute;
  top: 1.1rem;
  right: 5.9rem;
  width: 4%;
  border: none;
  font-size: 2.3rem;
}
.x:hover{
  color: #7B0924;
  transition: all .9s;
}
.logCheckOut a{
  color: #7B0924;
}
 @media (max-width: 908px) {
  .kitCon{
    flex-direction: column;
    /* height: 60rem; */
  }
  .kitLeft,.kitRight{
    width: 100%;

  }
  .Shipping{
    width: 40%;}
  .kitRight{
    margin-top: 3rem;
    /* flex-direction: column; */
  }
  .kitBoxRight{
    gap: .3rem;
  }
  .kitBoxRightTop{
    height: 50%;
    
  }
  .kitLeft{
    height: 7rem;
    justify-content: center;
    align-items: center;
  }
  .kitRight{
    padding-left: 0;
    flex-direction: column;
    gap: 1rem;
  }
  .downNav :where(h1){
    font-size: 0.6rem;
    margin-top: .2rem;
    text-align: center;
  }
  .kitBoxRightTop{
    gap: 2rem;
  }
  .kitBox{
    width: 100%;
  }
  #kitImg{
    width: 15rem;
    height: 5rem;
    }
    .kitBox :where(.kitBoxRight){     
      gap: 1.9rem;
    }
    .kitBoxRight :where(.kitBoxRightTop,.kitBoxRightBottom){
      
      height: 34%;
      
    }
  .custom-card {
    width: 100%;
  }
#navHeader{
  width: 100%;
}
  .shoping-cards {
    padding: 0 10px;
  }

  .shoping-card-container {
    width: 100%;
    
  }
    .drops{
      width: 7rem;
      display: flex;
      justify-content: center;
      position: relative;
      left: .7rem;
      background-color: #7B0924;
      color: #FFFFFF;
     }
    .dropDown{      
      position: absolute;
      top: 21.8rem;
      left: 7.6rem;
      width: 30%;
     }
     .hideBtn,.normsBtn{
      font-size: 0.4rem;
      width: 7.4rem;
      font-size: .9rem;
     }
     .normsBtn_second{
      font-size: .7rem;
     }
     .normsBtn_second_hide{
      font-size: 0.3rem;
     }
     .hideBtn{      
     }
     ul li{
      font-size: 1.3rem;
      font-weight: 500;
     }
    
    #navs{
      font-size: 0.6rem;
      gap: 1rem;
    }

    .pagination_two{
      right: 0;
    }
    .sided{
      gap: 0;
    }

    .left_navHeader{
      padding-left: 0;
    }

    .FrameShop{
      width: 6rem;
    }


    /* CHECK-OUT */
    #checkOutCon :where(.checkOutTop){
      width: 96%;
      height: 13rem;   
      justify-content: space-between;              
      gap: 0;  
    }
    .checkOutTop :where(.checkOutTopLeft){
      flex-direction: column;
      justify-content: center;      
      
      
     }
    .checkOutTopLeft :where(img){
      width: 8rem;
      height: 8rem;
      background-color: #8820204d;  
      margin-left: -1rem;
    }
    .checkOutTop :where(h1){
     text-align: center;
     font-size: .5rem;
     font-weight: bold;
    }
    .checkOutTopRightLeftInfo :where(.checkOutTopRightLeftInfoInputs){               
    gap: 1rem;
    }
    .checkOutTopRightLeftInfoInputs :where(span){               
      font-size: 0.8rem;
      font-weight: bold;
      }
      .checkOutTop :where(.checkOutTopRight){       
        display: flex; 
        height: 85%;
        width: 75%; 
        justify-content: space-between;
        /* background-color: #7B0924; */
                
      }
      #dropdown-basic{
        font-size: 0.8rem;
        font-weight: bold;
      }

      .checkOutTopRightLeftInfo :where(.checkOutTopRightLeftInfoSelect){
        width: 100%;
        display: flex;  
        justify-content: center;
        align-items: center;
        gap: .3rem;   
      
      }.checkOutTopRightLeftInfoSelect :where(.checkOutTopRightLeftInfoSelectOne){
        width: 6rem;
        display: flex;  
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
      
      }
      .checkOutTopRightRightInfoItems :where(span){
       font-size: 0.6rem;
       font-weight: bold;
      
      }
      .checkOutTopRightLeftInfoInputs :where(input){
        padding: .7rem;
        width:9.5rem;
        margin-right: -4rem;
        margin-left: 2rem;
       }

      .x{        
        top: 1.4rem;
        right: 1.1rem;  
        font-size: 1.3rem;    
      }

      #checkOutCon :where(.checkOutBottom){
     width: 90%;
     
}

.checkOutBottom :where(.checkOutBottomBtn){
  width: 45%;
  padding: 0.5rem;

}
input::placeholder{
  font-size: 0.6rem;
  font-weight: bold;
  
 }
 }
 

 @media all and (max-width: 390px) {
  .dropDown{ 
    top: 21.1rem;
   }
   .FrameShop{
    width: 4.5rem;
  }
  
  .left_navHeader span{
    font-size: .8rem;
  }

  .save_more{
    width: 9rem;
    height: 1.8rem;
  font-size: 0.7rem;
  }

  .cart{    
    padding: .6rem;
   
   
  }
  .cartItem{
    font-size: 1.2rem;
  }
  .shoping-card-container {
    flex-direction: column;
    align-items: center;
    width: 15rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
 }

 .pagination_two{
  width: 8rem;
  font-size: .1rem;
 }
 .controls{
  width: 20rem;
  position: absolute;
  left: -2rem;
  top: 119rem;
}
.sided{
  width: 20rem;
  position: absolute;
  /* left: -2rem; */
  left: -3rem;
  z-index: 99;
  top: 19rem;
  /* top: 145rem; */
}

 #navs{
  font-size: 0.5rem;
  
}
.checkOutTopLeft :where(img){
  width: 6rem;
  height: 6rem;
  background-color: #8820204d;  
}
.checkOutTopRightRightInfoItems :where(span){
  font-size: 0.4rem;
  font-weight: bold;
 
 }
 .x{        
   top: 1.1rem;
   right: .9rem;  
   font-size: 1rem;  
   height: 0.2rem;
 }
 .checkOutTopRightLeftInfoInputs :where(span){               
  font-size: 0.6rem;
  font-weight: bold;
  }
#dropdown-basic{
    font-size: 0.6rem;
    font-weight: bold;
  }
  .quality{
    font-size: 0.6rem;
    
  }
  .checkOutTopRightLeftInfo :where(.checkOutTopRightLeftInfoSelect){
    width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 1rem;   
  
  }
  .checkOutTopRightLeftInfoSelect :where(.checkOutTopRightLeftInfoSelectOne){
    width: 4.5rem;
  height: 2.3rem;
  
  }
  .checkOutTop :where(h1){
    
    font-size: .5rem;
    
   }
   .checkOutTopRightLeftInfoInputs :where(input){
    padding: .3rem;
    width:6.5rem;
    margin-right: -3rem;
    margin-left: 2rem;
   }
 }
