.d-block{
    height: 30rem;
}

@media all and (max-width: 900px) {
    .d-block{
        height:14.6rem;
        width: 13.5rem;
    }
    
}

@media all and (max-width: 390px) {
    .d-block{
        height:14.6rem;
        width: 12.5rem;
    }
    
}