.d-block{
    height: 30rem;
}

@media all and (max-width: 900px) {
    .d-block{
        height:35.6rem;
        width: 16.5rem;
    }
    
}

@media all and (max-width: 390px) {
    .d-block{
        height:23rem;
        width: 14rem;
    }
    
}