#featureWrapper{
/* background-color: aqua; */
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   position: relative;
}
#carouselFeature{
    width: 95%;
    /* height: 29rem; */
    /* background-color: aliceblue; */
    position: absolute;
    left: 1rem;
    top: -14.5rem;
}

#featureItem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.leftFeatureMatcHeader{
    width: 100%;
    height: 8.5rem;
    /* background-color: rgb(136, 114, 114); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.leftFeatureMatcHeader :where(h5){    
    font-size: 0.9rem;
}
.leftFeatureMatcHeader :where(h1,h4){
    font-weight: bold;
    font-size: 1rem;
}

.leftFeatureMatcFooter{
    width: 100%;
    height: 3.2rem;
    /* background-color: rgb(136, 114, 114); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(149, 4, 4);
}
#featureItemContent{
    width: 100%;
    height: 18rem;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#featureItemContent :where(.fetureDetails){
    width: 32%;
    height: 90%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#featureItemContent :where(.leftFeatureMatchDetails){
    width: 32%;
    height: 90%;
    /* background-color: red; */
}

#featureItemContent :where(.centerFeatureMatchDetails){
    width: 32%;
    height: 90%;
    /* background-color: rgb(48, 35, 35); */
    gap: 1rem;
}
#featureItemContent :where(.rightFeatureMatchDetails){
    width: 32%;
    height: 90%;
    /* background-color: rgb(42, 155, 32); */
}

.featuresImg{
    width: 7rem;
    height: 7rem;
    
}



.centerFeatureMatchDetails :where(h1){
    font-size: 2rem;font-weight: bold;
}
.centerFeatureMatchDetails :where(.featureTicketBtn){
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(149, 4, 4);
    width: 70%;
    padding: 1rem;
    color: aliceblue;
    border: none;
    border-radius: 1rem;
}

@media all and (max-width: 900px) {
    
    
}

@media all and (max-width: 390px) {
    
    
}