#featureWrapper{
background-color: aqua;
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   position: relative;
}
#carouselFeature{
    width: 95%;
    /* height: 29rem; */
    /* background-color: aliceblue; */
    position: absolute;
    left: 1rem;
    top: -14.5rem;
}

#featureItem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.leftFeatureMatcHeader{
    width: 100%;
    height: 8.5rem;
    background-color: rgb(136, 114, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.leftFeatureMatcHeader :where(h5){    
    font-size: 0.9rem;
}
.leftFeatureMatcHeader :where(h1,h4){
    font-weight: bold;
    font-size: 1rem;
}

.leftFeatureMatcFooter{
    width: 100%;
    height: 3.2rem;
    background-color: rgb(136, 114, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#featureItemContent{
    width: 100%;
    height: 18rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#featureItemContent :where(.fetureDetails){
    width: 32%;
    height: 90%;
    background-color: red;
}

#featureItemContent :where(.leftFeatureMatchDetails){
    width: 32%;
    height: 90%;
    background-color: red;
}

#featureItemContent :where(.centerFeatureMatchDetails){
    width: 32%;
    height: 90%;
    background-color: rgb(48, 35, 35);
}
#featureItemContent :where(.rightFeatureMatchDetails){
    width: 32%;
    height: 90%;
    background-color: rgb(42, 155, 32);
}