#standingWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 100%; */
    
    /* background-color: green; */
}
#standingWrapper :where(.standingHeader){
    
    /* text-transform: uppercase; */
    font-variant: small-caps;
    
}
#standingWrapper :where(.standingHeader) :first-child{
    
    /* text-transform: uppercase; */
    font-size: 0.8rem;
    margin-bottom: -.5rem;
    
}
#standingWrapper :where(.standingHeader, .standingFooter){
    width: 100%;
    text-align: center;
    font-weight: bold;
    
}
#standingWrapper :where(.standingCenter){
width: 100%;
/* height: 70%; */
font-weight: bold;
display: flex;
align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */

}

td,th{
    border: none;
}
#standingWrapper :where(.standingFooter){
    
    text-decoration: underline;
}
#standingWrapper :where(.standingFooter a){
  
  /* text-transform: capitalize; */
  color: rgb(149, 4, 4);
}

.standingLogo{
    width: 3rem;
    border-radius: 100%;
    margin-right: 0.6rem;
}

@media all and (max-width: 900px) {
    #standingWrapper{
        margin-top: -90rem;
    }
    
}

@media all and (max-width: 390px) {

    .rightFeatureMatchDetails :where(.featuresImg){
        margin-left: 4.5rem;
    }
    .featuresImg{
        width: 4.5rem;
        height: 5rem;
        
        
    }
    .imgAway{
        width: 2.5rem;
        height: 4.5rem;
    }
    
}