.fooWrapper{
    width: 100%;    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.foot_container{
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
}

.foo_right{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.foo_right h4{
    font-weight: bold;
}
.foo_left{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(149, 4, 4);
    font-size: 1.3rem;
}
.social{
    padding: 0.5rem;
    width: 100%;
    margin:1rem  0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    width: 50%;
    display: block;    
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    
}

.sectionWrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 2rem;
}
.patners{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
}
.p_sec_1{
    width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
}
.p_sec_2{
width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
}
.patners img{
  width: 15rem;
  height: 9rem;
  
}
.sectionWrapper h6{
    
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    
}
@media all and (max-width: 900px) {
    .foot_container{
        flex-direction: column;
    }
    .foo_right{
        width: 100%;
    }
    .foo_left{
    width: 100%;
        font-size: .5rem;
    }
    .icons{
        width: 100%;
    }
    .patners{
        flex-direction: column;
      }
      
      .patners img{
          width: 18rem;
          /* height: 9rem; */
          
      }
      .p_sec_1{
          
          width: 100%;
      }
          .p_sec_2{
              
              width: 100%;
          }
          .sectionWrapper h6{
    
            
            font-size: 1.5rem;
            
            
        }
}