.fooWrapper{
    width: 100%;    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.foot_container{
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
}

.foo_right{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.foo_right h4{
    font-weight: bold;
    text-align: center;
    font-family: monospace;
}
.foo_left{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(149, 4, 4);
    font-size: 1.3rem;
}
.social{
    padding: 0.5rem;
    width: 100%;
    margin:1rem  0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icons{
    width: 50%;
    display: block;    
    font-weight: bold;
    /* font-size: 1rem; */
    display: flex;
    justify-content: space-around;
    
}
.iconBg{
    background-color: rgb(13, 11, 11);
    color: aliceblue;
    width: 10rem;
    height: 3rem;
    border-radius: 50%;
    margin: .4rem;
    
}
.sectionWrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 2rem;
}
.patners{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
}
.p_sec_1{
    width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
}
.p_sec_2{
width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
}
.patners img{
  width: 15rem;
  height: 9rem;
  
}
.sectionWrapper h6{
    
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    font-family: monospace;
    
}
@media all and (max-width: 900px) {
    .foot_container{
        flex-direction: column;
    }
    .foo_right{
        width: 100%;
        justify-content: center;
    }
    .foo_left{
    width: 100%;
        font-size: .7rem;
        font-weight: bold;
    }
    .icons{
        width: 100%;
        
    }
    .patners{
        flex-direction: column;
      }
      
      .patners img{
          width: 11rem;
          height: 5rem;
          
      }
      .p_sec_1{
          
          width: 100%;
          gap: 2rem;
      }
          .p_sec_2{
            gap: 2rem;
              width: 100%;
              margin-bottom: -6rem;
          }
          .sectionWrapper{
            padding-top: 0;
          }
          .p_sec_2 :nth-child(1){
            /* margin-top: -2rem; */
          }
          .sectionWrapper h6{
    
            
            font-size: 1.9rem;
            margin-bottom: -2rem;
            
            
        }
}