.fooWrapper{
    width: 100%;
    /* height: 10rem; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.foot_container{
    width: 100%;
    /* height: 10rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
}

.foo_right{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.foo_right h4{
    font-weight: bold;
}
.foo_left{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(149, 4, 4);
    font-size: 1.3rem;
}
.social{
    padding: 0.5rem;
    width: 100%;
    margin:1rem  0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    width: 50%;
    display: block;
    /* color:rgb(149, 4, 4); */
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    
}
@media all and (max-width: 900px) {
    .foot_container{
        flex-direction: column;
    }
    .foo_right{
        width: 100%;
    }
    .foo_left{
    width: 100%;
        font-size: .5rem;
    }
    .icons{
        width: 100%;
    }
    
}