.homeContainer{
    width: 100%;
    position: relative;

}

.top_container{
    width: 100%;
    height: 35rem;
    background-image: url('../../public//lines.jpg');
    background-repeat: no-repeat;
    background-position: left;    
    
}


.carousel{
    width: 65rem;
    height: 20rem;
    position: absolute;
    top: 1rem;    
    left:11rem;
}
.acm_news{
    margin-left: 5rem;
    margin-top: 1rem;
    font-family: monospace;
    font-weight: bold;
}

.moment_container{
    width: 100%;    
    display: flex;
    flex-direction: column;
    gap: 1rem;    
}

.moment_container .top_moment, .moment_container .bottom_moment{
    width: 100%;
    height: 4rem;
    background-color: rgb(149, 4, 4);
}
.top_moment h1{
    font-family: monospace;
    font-weight: bold;
    color: aliceblue;
    margin: .4rem auto;
    margin-left: 1rem;
}
.moment_container main{
    width: 80%;    
    display: flex; 
     justify-content: space-around;  
    align-items: center;
    flex-wrap: wrap;
    color: whitesmoke;
    position: relative;
}
.moment_img{
    width: 16rem;
}
.moment_img_con{
    width: 40%;
    border:7px solid rgb(149, 4, 4); 
    border-radius: 2rem;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
}
.moment_btn{
    background-color: rgb(149, 4, 4);
    padding: .9rem;
    width: 5rem;
    border: none;
    border-radius: .5rem;
    color: whitesmoke;

}
.moment_container main h3{
width: 20%;
font-weight: bolder;
font-family: monospace;
margin-left: -18rem;
font-size: 3.4rem;
font-style: oblique;
color:rgb(149, 4, 4);

}
.imgAds{
    width: 15rem;
    margin: 0 auto;
}


.matches{
    width: 100%;    
    display: flex;
    flex-direction: column;
    padding: 0.5rem;   
}

.matches_img{
    width: 20rem;
}
.matche_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.2rem;
    
}
.matche_info h2,.matche_info h4, .matche_info h6{
    font-weight: bold;
   
    font-size: 1rem;
}
.matche_info h2{
    font-size: 2rem;
}
.matches main{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    margin: 0 auto;    
    border: 1px solid rgb(149, 4, 4);
    border-radius: 1.4rem;
    gap: 2rem;
    
}
.matches main .left,.right{
    width: 30%;    
    display: flex;
    align-items: center;
    height: 100%;
}

.matches main .centers{
    width: 15%;
    height: 75%;
    padding: 1rem;
    border-radius: .6rem;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(149, 4, 4);
}

.matches main .centers .matches_btn{
    background-color: rgb(149, 4, 4);
    font-size: 0.8rem;
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: .4rem;
    color: whitesmoke;
}

.experience{
    width: 100%;
    height: 35rem;
    background-image: url('../../public//second.jpg');
    background-position: center;
    margin-bottom: 5rem;
    position: relative;
}

.exp_cover{
    width: 100%;
    height: 100%;
    background-color: rgba(246, 248, 249, 0.2);
}

.exp{
    width: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 14rem;   
}

.exp_text{   
    bottom: 80rem;
    color: whitesmoke;
    font-size: 4rem;  
}
.exp_text h1{
    color: aliceblue;
    font-weight: bold;
}
.exp_sec{
    background-image: url('../../public//newsletter_2.jpg');
   display: flex;
   flex-direction: column;
   color: whitesmoke;
   justify-content: center;
}

.text_cover{
    display: flex;
   flex-direction: column;
   justify-content: center;
}
.exp_cover_con{
    width: 100%;
    height: 80%;
    display: flex;
}

.exp_left{
    width: 60%;
    height: 100%;
    display: flex;    
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}
.exp_right{
    width: 28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionWrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
/* .patners{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
} */
.p_sec_1{
      width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
}
.p_sec_2{
  width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
}
/* .patners img{
    width: 16rem;
    height: 9rem;
    
} */
.search{
    width: 70%;
}
.sectionWrapper h6{
    
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    
}
.text_cover h1{
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}
@media all and (max-width: 900px) {
    .moment_img_con{
        width: 100%;
    }
    .moment_container main{
        width: 85%;
        flex-direction: column;
        margin: 0 auto;
    }


    .matches main{        
        width: 95%;
    }
    .matches main .center .matches_btn{
        width: 7rem;
        padding: 0.6rem;
        font-size: 0.7rem;
    }
    .matches_img{
        width: 7rem;
    }
    .match_link{
        width: 10rem;
        margin-left: 3rem;
    }
    .matches main .left,.right{
        width: 40%;
        
    }
    .matches main .right{        
        position: relative;
        /* right: -1.5rem; */
    }
   
    .exp_cover_con{
        flex-direction: column;
        font-size: .6rem;
        justify-content: center;
        align-items: center;
    }
    .search{
        width: 50rem;
    }
    .top_container{       
        background-size: 50%;
        background-size: 22.2em;
        background-size: 26em;
        margin-top: -6rem;
    }
    .carousel{
        width:20rem;
        position: absolute;
        top: 5rem;
        left:2rem;
    }
    /* .patners{
      flex-direction: column;
    } */
    
    /* .patners img{
        width: 18rem;                
    } */
    .p_sec_1{        
        width: 100%;
    }
        .p_sec_2{            
            width: 100%;
        }
        .exp{
            
            padding: 4rem;
            padding-top: 7rem;
           
        }
        
        .exp h1{
            font-size: 3rem; 
            
        }

        .exp_text{          
            color: whitesmoke;
            font-size: 4rem;
                 
        }

        .exp_right{
            width: 90%;
            align-items: baseline;
            padding: 1rem;
        }
        .sectionWrapper h6{
            font-size: 2rem;
        }
        .exp_left{
            width: 80%;
            gap: .3rem;

        }
        .exp_left p{
            font-size: .8rem;
        }

        .moment_container main h3{
           
            margin-left: -11rem;
            font-size: 3.4rem;
            
            
            
            }

}

@media all and (max-width: 390px) {
    .carousel{
        width:18.5rem;
        position: absolute;
        top: 5rem;
        left:1rem;
    }
    .moment_container main h3{
           
        
        font-size: 2.4rem;
        
        
        
        }
        

.matches main{
    width: 100%;
    gap: 1rem;
}
.matches main .centers{
    
}
.matches main .centers .matches_btn{
    
}
}